.projectb{
         background-image: url(https://i0.wp.com/i.pinimg.com/originals/63/27/2a/63272a050067a90039f170c8299731ac.jpg);
         
}
.projecth{
    color: rgba(255, 242, 60, 0.973);
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
}